# {{ ansible_managed }}

#-------------------------------------------------------------------
# .bashrc - christoph@lipautz.org
#-------------------------------------------------------------------

RED_UL='\e[4;31m'
GREEN='\e[0;32m'
NC='\e[0m'    # reset colors

# prevent error if __git_ps1 helper is missing
if [ -n "$(command -v __git_ps1) > /dev/null 2&>1" ];
  then GIT_BRANCH='$(__git_ps1 "(%s)")'
  else GIT_BRANCH=''
fi

# default prompt
PS1="[${RED_UL}\u@\h:\W \t.\d${GREEN}${GIT_BRANCH}${NC}] \n > "

# enable bash completion
if [ -f /etc/bash_completion ]; then
    . /etc/bashcompletion
fi
source /usr/share/git-core/contrib/completion/git-prompt.sh

# ruby
export RUBYOPT=rubygems
alias be='bundle exec'

# grep
alias grep='grep --color=auto --exclude-dir=.git'

# selinux, nah...
alias seloff='su -c "echo 0 > /selinux/enforce"'

# task warrior
alias tasks='task list'

alias mplayer='mplayer -msgcolor'
alias shutdown_in="su -c 'sleep $1 && init 0'"

# ...
alias lazyspec="node --harmony ~/.npm-packages/bin/lazyspec"

# pretty-json
alias pretty-json='python -m json.tool'

# tmuxinator
alias tm='tmuxinator'

# vagrant
export VAGRANT_DEFAULT_PROVIDER=lxc

# use vim as default editor
export EDITOR=vim

# use rbenv for managing ruby version
eval "$(rbenv init -)"

# init kubectl bash completion
source <(kubectl completion bash)

. /etc/bashrc
