# {{ ansible_managed }}

#-------------------------------------------------------------------
# .bash_profile - christoph@lipautz.org
#-------------------------------------------------------------------

# Get the aliases and functions
if [ -f ~/.bashrc ]; then
	. ~/.bashrc
fi

# User specific environment and startup programs

# export GOPATH=$HOME/Projects/gocode

PATH=$PATH:$HOME/.local/bin
PATH=$PATH:$HOME/bin
# PATH=$PATH:$GOPATH/bin
# PATH=$PATH:$HOME/.pandoc/bin
# PATH=$PATH:$HOME/.npm-packages/bin
# PATH="$HOME/.rbenv/bin:$PATH"

export PATH

