# {{ ansible_managed }}
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
[user]
	name = Christoph Lipautz
	email = christoph@lipautz.org
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[core]
	editor = vim
[merge]
	tool = kdiff3
[push]
	default = matching
[pull]
	rebase = true
